@import "../../shared/styles/variable.scss";

.header {
  width: 100%;
  background-color: $primary-color;
  font-size: $primary-font-size;
  color: $primary-font-color;

  &-wrapper {
    max-width: 1280px;
    padding: 10px 25px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav {
      &-list {
        display: flex;
        align-items: center;
      }

      &-link {
        display: inline-block;
        padding: 5px 10px;
        color: inherit;
        border-radius: 9px;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: $header-link-hover;
        }
      }
    }

    .user-bar {
      display: flex;
      align-items: center;

      &__profile {
        .profile-link {
          display: inline-block;
          padding: 5px 10px;
          color: inherit;
          border-radius: 9px;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: $header-link-hover;
          }
        }
      }

      &__button {
        .logout-button {
          height: 24px;
          padding: 0px 10px;
          vertical-align: middle;
          border: none;
          background-color: transparent;
          cursor: pointer;

          .material-icons {
            color: $primary-font-color;
          }
        }
      }
    }
  }
}
