<header class="header">
  <div class="header-wrapper">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Inventory</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Reports</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Billing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
      </ul>
    </nav>
    <ul class="user-bar">
      <li class="user-bar__profile">
        <a href="#" class="profile-link">NickName</a>
      </li>
      <li class="user-bar__button">
        <button class="logout-button">
          <span class="material-icons"> logout </span>
        </button>
      </li>
    </ul>
  </div>
</header>
